#toggle {
  display: none;
}

/**
  Hamburger
**/
.hamburger {
  // position: fixed;
//   top: 4.5em;
  right: 5%;
//   margin-left: -2em;
//   margin-top: -45px;
  width: 2em;
  height: 45px;
  z-index: 5;
}

.hamburger div {
  position: relative;
  width: 40px;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}
.burger-nav{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.header__btn-con2{
    gap: 50px;
    display: flex;
    align-items: center;
   
}
.header__btn-con2 a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
    &:active {
      color: $primary;
      transition: 0s;
    }
  }
  .header__btn2{
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    // line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
    background: #32ad67;
    padding: 11px 24px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    &:active {
      background-color: #fff;
      color: $primary;
      transition: 0s;
    }
    &:hover {
      box-shadow: 0px 0px 5px #fff;
      border: none;
    }
  }
/**
Nav Styles
**/
.nav {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $secondary;
  top: 104px; left: -100%; right: 0; bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 20;
//   transform: scale(0);
}
.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}
.bg-a{
  position: relative;
  text-decoration: none;
  text-align: left;
  font-family: 'Inter';
  color: #fff;
  font-size: 2em;
  display: inline-block;
//   margin-top: 1.25em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
}
.bg-a:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0.25em;
  background-color: white;
  left: -0.5em;
  transition: all 0.2s ease-in-out;
}
.bg-a:hover {
  color: white;
}
.bg-a:hover:before {
  height: 100%;
}

/**
Animations
**/
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -3px;
}

#toggle:checked + .hamburger + .nav {
  top: 104px;
  left: 0;
//   transform: scale(1);
}