@mixin white-card{
    width: 360px;
    height: 360px;
    background-color: #fff;
box-shadow: 0px 34px 80px rgba(11, 5, 47, 0.07);
}
@mixin blue-card{
    width: 380px;
height: 522px;
background-color:  #162457;
border-radius: 15px;
&:hover{
    background: #22326A;
    border: 1px solid rgba(255, 255, 255, 0.14);
}
}
@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}